*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;

    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container{
    width: 90%;
    margin: auto auto;
}
:root{
    --color1: #fdfef9;
    --color2: #c87814;
    --color3: #866245;
    --color4: #d1c8c8;
    --color5: #453425;
    --color6: #9B3922;
    --font1: sans-serif;
}

/* ========== Navbar ========== */
nav .logo img{
    width: 60px;
    height: 55px;
}
.logo{
    display: flex;
    align-items: center;
}
.navbar .nav-list a{
    color: var(--color2);
}
header{
    width: 100%;
    height: 50px;
    background-color: var(--color5);
    color: var(--color1);
    
    font-family: var(--font1);
    font-weight: bold;
    position: sticky;
    top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle{
    width: 32px;
    height: 32px;
    position: relative;
}
.burger, .close{
    width: max-content;
    height: max-content;
    font-size: x-large;
    position: absolute;
    inset: 0;
    
    margin: auto;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
}
.close{
    opacity: 0;
}
.navbar{
    width: 100vw;
    color: var(--color4);
    background-color: var(--color5);

    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    visibility: hidden;
}
.navbar .nav-list{
    padding: 10px 20px;
}
.navbar .nav-list li{
    color: var(--color1);
    padding: 10px;
    text-align: center;
}
.navbar .nav-list .nav-link{
    color: var(--color4);
}
.navbar .nav-list .nav-link:hover{
    border-bottom: var(--color4) 2px solid;
}
.dropdown-menu{
    display: none;
}
.dropdown_link{
    color: var(--color3);
}
.navbar .dropdown:hover .dropdown-menu{
    display: initial;
}



/* Show Menu */
.show-menu{
    /* opacity: 1; */
    visibility: initial;
}
/* Show Icon */
.show-icon .burger{
    opacity: 0;
}
.show-icon .close{
    opacity: 1;  
}

/* For largeer Devices */
@media screen and (min-width: 900px){
    .toggle{
        opacity: 0;
    }
    nav{
        position: relative;
    }
    .navbar{
        width: 80%;
        height: 50px;
        background-color: var(--color5);

        /* opacity: 1; */
        visibility: initial;
        top: 0;
        left: 20%;
    }
    .navbar .nav-list{
        padding-top: 8px;
        display: flex;
        justify-content: flex-end;
    }
    .navbar .nav-list li{
        width: 200px;
    }
    .dropdown-menu{
        width: 200px;
        height: 100px;
        background-color: var(--color4);
        
        position: absolute;
        top: 40px;
        right: 27%;
    }
}
/* ========== Navbar Ends ========== */


/* ========== Hero Section ========== */
section{
    width: 100%;
    height: 100vh;
    background-color: var(--color1);
    background-image: url("./images/newmobileBG.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-content{
    width: 300px;
    height: 600px;
    color: var(--color5);
    text-align: center;

    margin: auto;
    padding-top: 150px;
}
.content h1{
    color: #9B3922;
    font-size: 50px;
    padding: 10px;
}
.content h5{
    color: var(--color4);
}
.hero-content .btnreg{
    background-color: var(--color4);
    color: var(--color5);
    border: var(--color4) 2px solid;
    border-radius: 10px;
    font-weight: bolder;

    margin: 10px;
    padding: 10px;
}
.hero-content .btnreg:hover{
    transform: scale(1.1);
    transition: 0.7s;
}

/* Register */
.register{
    width: 60%;
    height: 360px;
    background-color: var(--color4);
    color: var(--color6);
    border-radius: 5px;
    text-align: center;

    padding-top: 10px;
    position: absolute;
    top: 250px;
    left: 20%;

    visibility: hidden;
}
.register h1{
    display: inline;
}
.register .reg-close{
    font-size: x-large;

    position: absolute;
    top: 0;
    right: 4px;
}
.register form{
    margin: 10px 0;
}
.register input{
    width: 200px;
    height: 30px;
    background-color: unset;
    color: var(--color5);
    border: none;
    border-bottom: var(--color6) 2px solid;
}
.register #submit{
    background-color: var(--color6);
    color: var(--color4);
    font-size: 15px;
    font-weight: bold;
}
.register a{
    color: var(--color3);
}
.register form .reg-password, .register form .reg-repassword{
    position: relative;
}
.reg-password .closed-eye, .reg-repassword .closed-eye{
    position: absolute;
    right: 50px;
    cursor: pointer;
}

/* Show Register Form */
.open-popup{
    visibility: visible;
}

/* For largeer Devices */
@media screen and (min-width: 800px){
    section{
        background-image: url("./images/desktopB.png");
        background-position: center;
        /* opacity: 0.9; */
    }
    .hero-content{
        width: 500px;
        margin-right: 3%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-content button{
        width: 150px;
        height: 50px;
    }
    .content h1{
        font-size: 5vw;
    }
    .content h5{
        font-size: 1.2vw;
        padding-bottom: 10px;
    }
    /* Register Form */
    .register{
        width: 30%;
        top: 380px;
        left: 50%;
    }

}
@media (min-width: 1200px){
    /* Register Form */
    .register{
        width: 20%;
        top: 400px;
        left: 65%;
    }
}
/* ========== Hero Section Ends ========== */


/* ========== About Us ========== */
#about{
    width: 100%;
    background-color: var(--color1);
    color: var(--color3);

    align-content: center;
}
.about-us, .mission{
    width: 90%;
    height: 250px;

    line-height: 25px;
    text-align: justify;
    align-content: center;

    margin: 20px auto;
    padding: 10px;
    overflow: scroll;
}
.about-us h2, .mission h2{
    padding: 5px 0;
}

/* For largeer Devices */
@media screen and (min-width: 900px){
    #about{
        height: 400px;
        align-content: center;
    }
    .about-us, .mission{
        width: 45%;
        height: 350px;
        overflow: initial;
        padding: 0;
        margin: 0 auto;
    }
    .about-div{
        display: flex;
        gap: 20px;
    }
}
/* ========== About Us Ends ========== */


/* ========== Showcase ========== */
.showcase{
    width: 100%;
    background-color: var(--color4);
    padding-top: 20px;
}
.showcase h3{
    color: var(--color5);
}
.featured img{
    width: 200px;
    height: 150px;
    padding: 10px;
}
.featured{
    width: 100%;
    border-bottom: var(--color3) 2px solid;
    padding-top: 20px;
    margin: auto;
}
.global-recipe, .easiest, .healthy{
    width: 100%;
    height: 170px;
    position: relative;
}
.featured a{
    color: var(--color6);
    font-size: large;
    position: absolute;
    top: 30%;
}
.featured a:hover{
    border-bottom: var(--color5) 1.5px solid;
}

.popular img{
    width: 80%;
}
.popular{
    border-bottom: var(--color3) 2px solid;
    text-align: center;
    display: flex;
    padding: 20px 0 40px 0;
}
.popular a{
    color: var(--color6);
}
.popularh3{
    margin-top: 20px;
}
.popular a:hover{
    border-bottom: var(--color5) 1.5px solid;
}

.more-recipe{
    height: 45px;
    /* border-bottom: var(--color3) 2px solid; */
    text-align: center;
    margin: 22px auto;
}
.more-recipe a{
    background-color: var(--color6);
    color: var(--color1);
    border-radius: 10px;
    padding: 5px 10px;
}

/* For largeer Devices */
@media screen and (min-width: 800px){
    .featured{
        height: 350px;
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .global-recipe, .easiest, .healthy{
        height: 350px;
    }
    .featured img{
        width: 100%;
        height: 250px;
    }
    .featured a{
        display: block;
        top: 70%;
        left: 8%;
    }
    .popular a{
        font-size: large
    }   
}
@media (min-width: 1100px){
    .featured{
        height: 380px;
    }    
    .featured img{
        height: 300px;
    }
    .featured a{
        top: 85%;
    }
}
/* ========== Showcase Ends ========== */


/* ========== Carousel ========== */
.carousel{
    background-color: var(--color1);
}
.slide{
    width: 320px;
    position: relative;
    margin: auto;
    overflow: hidden;
}    
.slide h2{
    color: var(--color6);
    padding:  20px 0;
    text-align: center;
}
.events{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-auto-rows: 320px;
    transition: 0.15s;
}
.events input{
    display: none;
}
.event-slides{
    width: 320px;
}
.event-slides img{
    width: 320px;
    height: 250px;
}
.event-slides h3, .event-slides p{
    color: var(--color6);
    padding: 5px 0;
}
.dots label{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: solid var(--color3) 3px;
    cursor: pointer;
    margin:  0 5px 15px 5px;
    transition: 0.15s;
}
.dots{
    display: flex;
    justify-content: center;
}
.dots label:hover{
    background-color: var(--color6);
}
#event1:checked ~ .s1{
    margin-left: 0;
}
#event2:checked ~ .s2{
    margin-left: -100%;
}
#event3:checked ~ .s3{
    margin-left: -200%;
}
#event4:checked ~ .s4{
    margin-left: -300%;
}
#event5:checked ~ .s5{
    margin-left: -400%;
}
#event6:checked ~ .s6{
    margin-left: -500%;
}


/* For largeer Devices */
@media screen and (min-width: 800px){
    .slide{
        width: 750px;
    }
    .event-slides{
        width: 750px;
    }
    .event-slides img{
        width: 750px;
        height: 500px;
    }
    .events{
        grid-auto-rows: 600px;
    }
}

/* ========== Carousel Ends ========== */

/* ========== Cookie ========== */
.cookie-popup{
    background-color: #333;
    color: var(--color1);
    font-size: 14px;
    text-align: center;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}
.cookie-popup p{
    margin: 0;
    padding: 0 10px;
}
.cookie-popup a {
    color: var(--color2);
    text-decoration: underline;
}
.cookie-popup button {
    background-color: var(--color2);
    color: var(--color5);
    font-size: 14px;
    border: none;
    border-radius: 5px;

    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
}
.cookie-popup button:hover {
    background-color: #FFA500;
}
/* ========== Cookie Ends ========== */  

/* ========== Footer ========== */
footer{
    width: 100%;
    background-color: var(--color5);
    font-size: medium;
}
.footer-section{
    width: 90%;

    margin: auto;
    padding: 20px 0;
}
footer .footer-logo img{
    width: 80px;
    height: 80px;
}
.footer-logo{
    color: var(--color4);
    text-align: center;
    padding: 20px 0;
}
.footer-content{
    width: 90%;
    border-bottom: var(--color4) 2px solid;
    text-align: center;
    padding-bottom: 20px;
    margin: auto;
}
.footer-content ul{
    padding: 20px 0;
}
.footer-content ul li{
    padding: 2px 0;
}
footer a{
    color: var(--color4);
}
.footer-content ul h3{
    color: var(--color2);
    opacity: 0.85;
}
.socailmedia{
    text-align: center;
    padding-top: 30px;
}
.medialink{
    font-size: larger;
    display: flex;
    justify-content: center;
}
.medialink li{
    padding: 10px;
}
.socailmedia p{
    color: var(--color4);
}

/* For largeer Devices */
@media screen and (min-width: 900px){
    .footer-logo{
        padding: 0;
    }
    .footer-content{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }
}
/* ========== Footer End ========== */

/* ========== Login ========== */
.login{
    width: 100%;
    height: 100vh;
    background-image: url(./images/mobileB.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}
.login .loginform{
    width: 300px;
    height: 300px;
    background-color: var(--color1);
    border-radius: 5px;

    text-align: center;
    margin: auto;
}
.login h1{
    color: var(--color6);
    padding: 10px 0;
}
.loginform form{
    padding-top: 10px;
    padding-bottom: 20px;
}
.loginform input{
    width: 80%;
    height: 30px;
    background-color: unset;
    border: none;
    border-bottom: var(--color3) 2px solid;
    padding: 10px 0;
}
.loginform a{
    color: var(--color3);
}
.loginform #btnlogin{
    height: 35px;
    background-color: var(--color6);
    color: var(--color4);
    border: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}
.loginform .message{
    color: var(--color6);
    padding: 10px 0;
}

/* For largeer Devices */
@media screen and (min-width: 500px){
    .login{
        padding-top: 150px;
    }
    .login .loginform{
        width: 350px;
        height: 350px;   
    }   
    .loginform #btnlogin{
        margin-top: 20px;
    } 
}
@media(min-width: 800px){
    .login{
        background-image: url("./images/desktopB.png");
    }
    .loginform #btnlogin{
        margin-bottom: 10px;
    }
}
/* ========== Login End ========== */


/* ========== About Us ========== */
.aboutus{
    width: 100%;
    background-color: var(--color1);
    padding: 20px 0;
}
.aboutus-content{
    width: 90%;
    color: var(--color3);
    text-align: justify;
    margin: auto;
}
.aboutus-content h1{
    color: var(--color5);
    text-align: center;
}
.aboutus-intro{
    padding: 20px 0;
}
.aboutus-intro::first-letter{
    font-size: x-large;
}
.aboutus-img img{
    width: 90%;
    margin: 0 5% ;
}
.aboutus-img img:hover{
    transform: scale(1.02);
    transition: 0.7s;
}

.information{
    padding: 20px 0;
}
.information h2{
    color: var(--color5);
    text-align: center;
    padding: 10px 0;
}
.culinary-philo, .values, .team{
    padding: 10px 0;
}

/* For largeer Devices */
@media screen and (min-width: 800px){
    .aboutus-intro{
        column-count: 2;
        margin-bottom: 10px;
    }
    .information{
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 20px;
    }
    .aboutus-img img{
        width: 100%;
        margin: 0;
    }
}
/* ========== About Us End ========== */


/* ========== CookBook ========== */
/* New Cook Book */
.newcookbook{
    width: 100%;
    height: 100vh;
    background-image: url("./images/newcookbook.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
}
.cookbookform{
    width: 100%;
    background-color: rgba(0,0,0,0.15);
	backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 30px 0;
    margin: auto;
}
.cookbookform h1{
    color: var(--color6);
    font-weight: bolder;
    text-align: center;
    padding-bottom: 20px;
}
.cookbookform form{
    color: var(--color4);
    font-weight: 530;
    justify-self: center;
}
.cookbookform form label{
    width: 130px;
    display: inline-block;
} 
.cookbookform form input{ 
    width: 50%;
    height: 25px;
    color: var(--color6);
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}
.cookbookform form textarea{
    width: 50%;
    height: 80px;
    color: var(--color6);
    border-radius: 5px;
    margin-left: 10px;
}
.cookbookform form select{
    width: 50%;
    height: 25px;
    color: var(--color6);
    border-radius: 5px;
    margin-left: 10px;
}
.cookbookform form .add-recipe{
    background-color: var(--color6);
    color: var(--color4);
    border: none;
    margin-left: 135px;
}

/* For largeer Devices */
@media screen and (min-width: 960px){
    .newcookbook{
        background-image: url("./cookbook/images/newcookbookPC.jpg");
    }
    .cookbookform{
        width: 50%;
        backdrop-filter: blur(40px);
    }
    .cookbookform form{
        font-size: large;
    }
    .cookbookform form label{
        width: 200px;
    }
    .cookbookform form .add-recipe{
        margin-left: 210px;
    }
    .cookbookform form input{ 
        height: 30px;
    }

}

/* ========== CookBook End ========== *


/* ========== Recipes(CookBook) ========== */
.recipe{
    background-color: var(--color1);
}
.show-recipe{
    padding: 20px 0;
    margin: auto;
}
.recipe h1{
    background-color: var(--color4);
    color: var(--color6);
    text-align: center;
    padding: 30px 0;
}
.show-recipe .list{
    width: 100%; 
}
.show-recipe .list .img{
    text-align: center;
    padding: 20px 0;
}
.list #recipe-list{
    background-color: #f5f4f4;
    border-radius: 10px;
    padding: 0 20px;
    margin-bottom: 50px;
}
.txt{
    color: var(--color5);
}
.txt .recipename{
    color: var(--color6);
    font-size: large;
    font-weight: 550;
    padding-bottom: 12px;
}
.txt .full-recipe{
    text-align: justify;
    padding-bottom: 15px;
}

/* Searching Recipes */
#searchby{
    background-color: #f5f4f4;
    border-radius: 10px;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}
#searchby h3{
    color: var(--color3);
}
#searchby .search-menu{
    width: 100%;
    padding-top: 10px;
}
#searchby .search-menu a{
    background-color: transparent;
    color: var(--color6);
    border: var(--color4) 1px solid;
    border-radius: 3px;
    display: inline-block;
    padding: 5px;
    margin: 10px 5px;
    cursor: pointer;
}


/* For largeer Devices */
@media screen and (min-width: 900px){
    #searchby{
        background-color: unset;
        /* width: 90%; */
        /* height: 600px; */
        padding-left: 20px;
        padding-right: 20px;
        /* margin-right: 20px; */
    }
    #searchby .search-menu a{
        display: block;
    }
    .show-recipe .list{
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 20px;
    }
}
/* ========== Recipes(CookBook) End ========== */


/* ==========  Contact Us ========== */
.contactus{
    width: 100%;
}
.contactus h2{
    color: var(--color3);
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}
.contactus-form{
    padding: 20px 0;
    text-align: center;
}
.form1{  
    padding-bottom: 30px;
}
.form1 input{
    width: 80%;
    height: 40px;
    color: var(--color5);
    border: var(--color2) 2px solid;
    border-radius: 3px;
    display: inline-block;
    margin: 10px 0;
}
.form1 textarea{
    width: 80%;
    height: 300px;
    border: var(--color2) 2px solid;
    border-radius: 3px;
    margin: 10px;
}
.form1 .contact-submit{
    background-color: var(--color6);
    color: var(--color4);
    font-size: large;
    font-weight: 600;
}

.form2{
    border-top: var(--color5) 2px solid;
    padding: 20px 0;
}
.form2 .getintouch{
    color: var(--color6);
    margin-bottom: 10px;
}
.form2 .form2-intro{
    color: var(--color3);
    text-align: justify;
    margin-bottom: 10px;
}
.form2-div{
    display: flex;
    gap: 20px;
    padding: 10px 0;
}
.form2-div p{
    color: var(--color6);
}
.form2-div button i{
    background-color: var(--color6);
    color: var(--color1);
    border: var(--color6) 1px solid;
    font-size: 20px;
}
.form2-div button{
    border: none;
}
.form2-socialmedia{
    display: flex;
    gap: 20px;
    padding-top: 10px;
}
.form2-socialmedia a{
    color: var(--color6);
}

/* For largeer Devices */
@media screen and (min-width: 900px){
    .contactus-form{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .form2{
        width: 50%;
        border: none;
        font-size: large;
    }
    .contactus h2{
        margin-bottom: 20px;
    }
}
/* ========== Contact Us End ========== */


/* ========== Culinary Resources ========== */
.culinary{
    background-color: var(--color1);
    padding: 30px 0;
}
.cheader{
    text-align: justify;
    padding: 20px 0;
}
.cheader h2{
    color: var(--color6);
    padding-bottom: 10px;
}
.cheader p{
    color: var(--color5);
}
.cvideos{
    border-bottom: var(--color3) 2px solid;
    padding-bottom: 30px;
    text-align: center;
}
.cvideos .video{
    width: 300px;
    /* height: 330px; */
    background-color: #f5f4f4;
    border-radius: 5px;
    padding-bottom: 10px;
    margin: 0 auto 10px auto;
}
.cvideos .video video{
    width: 300px;
    /* height: 240px; */
}
.cvideos .video h3{
    color: var(--color6);
    padding: 5px 0 10px 0;
}

/* Recipe-card */
.h4ccards{
    color: var(--color6);
    padding-top: 20px;
}
.ccards{
   margin-top: 20px;
}
.recipe-card{
    width: 320px;
    height: 400px;
    background-color: #f5f4f4;
    border-radius: 10px;
    overflow: scroll;
    padding-bottom: 10px;
    margin: 0 auto 30px auto;
}
.recipe-card .img{
   width: 320px;
   padding-top: 10px;
   margin: auto;
}
.recipe-card .img img{
    width: 100%;
}
.recipe-card h4{
    color: var(--color6);
    padding: 10px;
}
.card-recipe{
    display: flex;
    gap: 10px;
    margin: auto;
}
.card-recipe p{
    color: var(--color5);
    text-align: justify;
    padding: 10px;
}
.card-recipe .ingredients{
    color: var(--color5);
    border-right: var(--color5) 2px solid;
    padding: 10px;
}

/* For largeer Devices */
@media screen and (min-width: 650px){
    .cvideos{
        display: grid;
        grid-template-columns: auto auto;
    }
    .cvideos .video{
        width: 320;
        margin-right: 10px;
    }
    .cvideos .video video{
        width: 320;
    }
    .recipe-card{
        overflow: unset;
    }
    .recipe-card{
        width: 600px;
        height: 680px;
    }
    .recipe-card .img{
        width: 600px;
    }
}
@media screen and (min-width: 970px){
    .cvideos{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .recipe-card{
        width: 400px;
        height: 680px;
    }
    .recipe-card .img{
        width: 400px;
    }
    .ccards{
        display: grid;
        grid-template-columns: auto auto;
    }
}
@media screen and (min-width: 1290px){
    .cvideos{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    .recipe-card{
        width: 380px;
        height: 680px;
    }
    .recipe-card .img{
        width: 380px;
    }
    .ccards{
        display: grid;
        grid-template-columns: auto auto auto;
    }
}
/* ========== Culinary Resources End ========== */


/* ========== Educational Resources ========== */
.educaional{
    background-color: var(--color1);
}
.ebooks{
    margin: auto;
    border-bottom: var(--color3) 2px solid;
}
.ebooks .book{
    width: 300px;
    background-color: #f5f4f4;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
}
.ebooks .book img{
    width: 260px;
}
.eheader h2, .eheader p{
    color: var(--color6);
    padding: 10px 0;
}
.book-content h3, .book-content h5{
    color: var(--color6);
    padding: 5px 0;
}
.book-content p{
    color: var(--color3);
    text-align: justify;
    padding: 5px 0;
    margin-bottom: 10px;
}
.book-content a{
    background-color: var(--color3);
    color: var(--color4);
    border: none;
    border-radius: 5px;
    padding: 5px;
}

/* Turorial Videos */
.tutorial{
    color: var(--color6);
    margin: 20px 0;
}
.evideos .video video{
    width: 300px;
}
.evideos .video h3{
    color: var(--color6);
    padding: 5px 0 10px 0;
}
.evideos{
    padding-bottom: 30px;
    text-align: center;
}
.evideos .video{
    width: 300px;
    background-color: #f5f4f4;
    border-radius: 5px;
    padding-bottom: 10px;
    margin: 0 auto 10px auto;
}
/* Turorial Videos End */

/* For largeer Devices */
@media screen and (min-width: 650px){
    .ebooks, .evideos{
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
    }
}
@media screen and (min-width: 950px){
    .ebooks, .evideos{
        grid-template-columns: auto auto auto;
    }
}
@media screen and (min-width: 1300px){
    .ebooks .book{
        width: 200px;
    }
    .ebooks .book img{
        width: 160px;
    }
    .ebooks{
        grid-template-columns: auto auto auto auto auto auto;
    }
    .evideos{
        grid-template-columns: auto auto auto auto;
    }
}
/* ========== Educational Resources End ========== */
